body{
    font-size: small;
    color: #222;
    font-family: arial, sans-serif;
    display: block;
}

a{
    text-decoration: none;
}

a:visited{
    color: #609;
}


#viewport{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
}

#header{
    top: 16px;
    position: relative;
    font-size: 13px;
    margin: 7px 0 0 10px;
}

#headerTopLeft{
    position: absolute;
    
}

#headerTopLeft a{
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}
#headerTopRight{
    z-index: 987;
    float: right;
    min-width: 165px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    
    white-space: nowrap;
}
#headerTopRight a{
    color: #000;
    opacity: 0.75;
}

.gmailImages{
    padding-right: 15px;
    line-height: normal;
    display: inline-block;
}

.content{
    padding-bottom: 35px;
}

.centerPage{
    margin: 0 auto;
    min-width: 1139px;
}

#logoArea{
    margin-top: 47px;
    height: 233px;
}

